body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

header {
    background-color: #edede9;
}

 nav{
    background-color:#e0c1b3;
}

main{
    background-color: #f5ebe0ff;
    font-size: 30px;
} 

div {
    display: flex;
    height: 50%;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    justify-content: space-between;
}
footer{
    background-color: #eee3df;
    display: block;
} 

li{
    display: inline-block;
    width: fit-content;
}

h1{
    text-align:initial;
    font-family: Arial, Helvetica, sans-serif;
    color: #610621;
}

p{
    height:auto;
}
img{
    display: inline-block;
}

